@media screen and (max-width: 425px){
    .mobile{
        display: block;
    }
    a.mobile{
        padding: 10px;
    }
    a.mobile:focus{
        border: none;
        box-shadow: none;
        outline: none;
    }
    .headerhome{
        padding: 0px 10px;

    }
    .judulapt{
        margin-top: 0px !important;
    }
    .setUnit{
        font-size: 0.7rem;
        text-align: center;
    }
    .brandptba{
        width: 140px;
        top: 15px;
        left: 30px;
    }
    figcaption{
        padding-block-start: 0px;
        text-align: center;
    }
    .pit3>h4{
        width: 120px;
    }
    figcaption>h2{
        font-size: 2.5rem;
        line-height: 1.5;
    }
    figcaption>p{
        font-size: 0.9rem;
    }
    figcaption>a{
        width: 100%;
    }
    .content{
        flex-direction: column;
        padding: 40px 15px;
        gap: 20px;
    }
    .content>figure>img{
        width: 100%;
    }
    .contentlogin{
        padding: 40px 20px;
    }
    .contentlogin>h2{
        font-size: 1.8rem;
        line-height: 1.5;
    }
    .contentlogin>p{
        font-weight: 300;
        font-size: 0.9rem;
        padding: 20px;
        line-height: 1.5;
    }
    footer{
        font-size: 0.8rem;
        line-height: 1.7;
        padding: 12px;
    }
    .loginbox{
        flex-direction: column;
        align-items: center;
    }
    .loginform{
        width: 90%;
        margin-inline-start: 0;
        height: auto;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        margin-block-start: 10%;
    }
    .closebtn{
        top: 7%;
        right: 10%;
    }
    .loginform>div{
        flex: none;
        width: 100%;
        padding: 30px;
        padding-top: 0;
    }
    .loginform>figure>img {
        width: 250px;
    }
    /* halaman Summary Breakdown */
    header>.judul{
        font-size: 1.5rem;
        margin-block-start: 50px;       
        background-size: auto; 
    }
    main{
        padding: 30px 15px;
        font-size: 12px;
    }
    .boxeqtype{
        flex-direction: column;
    }
    .boxlocation>h3{
        padding: 10px 20px;
        font-size: 1rem;
        line-height: 1.6;
        position: sticky;
        top: 5px;
        z-index: 10;
    }
    .boxShovel{
        padding: 10px;
        margin-bottom: 30px;
    }
    .boxdetailshovel{
        gap: 15px;
    }
    .boxdetailshovel>img{
        width: 20px;
    }
    .shovelstatus{
        padding: 10px;
        width: 150px;
        text-align: center;
    }
    .datainfo{
        font-size: 0.8rem;
        text-align: center;
    }
    .datainfo>table>thead>tr>th:nth-child(5){
        display: none;
    }
    .datainfo>table>tbody>tr>td:nth-child(5){
        display: none;
    }
    .datainfo table tbody tr td .shovelstatus{
        font-size: 0.7rem;
        padding: 5px 12px;
    }
    .shovelsummary{
        display: flex;
        flex-direction: column;
    }
    .detailunit>p{
        margin-bottom: 10px;
    }
    .shovelsummary>div{
        padding: 10px;
        line-height: 1;
    }
    
    .shovelsummary>div>p{
        font-size: 0.6rem;
    }
    .aptarea{
        padding: 15px;
        gap: 20px;
    }
    .aptarea>h2{
        width: 100%;
        font-size: 0.9rem;
    }
    .shovelsummary>div{
        border-radius: 6px;
    }
    .aptarea>div{
        gap: 6px;
    }
    .aptarea>div>p{
        padding: 4px 10px;
        font-size: 0.6rem;
    }
    .coalsummary>div>h3{
        font-size: 0.8rem;
    }
    .coalsummary>.shovelstatus{
        font-size: 0.7rem;
        width: 180px;
    }
    .coalsummary>p{
        font-size: 0.7rem;
    }
    .headeradmin{
        padding: 10px;
        border-radius: 6px;
    }
    .headeradmin>details>summary{
        font-size: 0.8rem;
    }
    .boxmenu{
        padding:20px 5px;
    }
    .boxmenu>button{
        width: 100%;
        margin: 8px 0;
        font-size: 0.8rem;
    }
    .boxinputlocation{
        width: 90%;
        margin-inline-start: 5%;
        padding: 20px;
        margin-top: 20px;
    }
    .boxinputlocation>form{
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .boxinputlocation>form>select,input,button{
        width: 100%;
    }
    .header>h2{
        text-align: center;
        margin-top: 50px;
    }
    .boxinputlocation>.header>p{
        margin-top: 25px;
    }
    .coaltitle>h1{
        font-size: 0.9rem;
        transform: translateY(-10px);
    }
    .navbar{
        padding: 8px 15px;
    }
    .navbar>img{
        width: 100px;
    }
    .side-info{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        background: white;
        border: 1px solid var(--line);
        margin-top: 54px;
        border-radius: 5px;
        transform: translateY(-300px);
        transition: transform 1s ease;
    }
    .side-info>span{
        text-align: left;
        font-size: 0.8rem;
        padding: 12px 20px;
        margin-left: 0;
    }
    .side-info>span>a{
        padding: 0px;
        font-size: inherit;
    }
    .bodycontent{
        padding: 0;
        display: block;
    }
    aside{
        width: 100%;
        border-radius: 15px 15px 0 0;
        position: fixed;
        bottom: 0;
    }
    aside>p{
        display: none;
    }
    .sidemenu{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        
    }
    .sidemenu>a{
        padding: 7px 12px;
        color: var(--blue1);
        font-size: 1rem;
    }
    .sidemenu>a:focus{
        padding-left: 12px;
    }
    .sidemenu>a:active{
        background: var(--line);
        padding-left: 10px;
    }
    .sidemenu>a>span{
        display: none;
    }
    .maincontent{
        padding: 30px 15px;
        border-top: 0;
        border-radius: 0;
        height: auto;
        margin-bottom: 50px;
        border: none;
        box-shadow: none;
    }
    .bodycontent{
        font-size: 0.7rem;
    }
    .boxcontents>details{
        padding: 10px;
    }
    .boxcontent{
        flex-direction: column;
    }
    .boxcontent>div{
        margin:0;
        margin-top: 20px;
        text-align: center;
        font-size: 0.9rem;
    }
    .boxcontent>img{
        width: auto;
    }
    .boxcontent>div>h1{
        font-size: 2rem;
    }
    .boxcontent>div>h1>span{
        font-size: 2rem !important;
    }
    .maincontentsection{
        padding-right: 0;
        float: right;
    }
    .tablecontent>.tablebox>table>tbody>tr>td{
        font-size: 0.5rem;
        padding: 7px 5px;
    }
    .mobilehide{
        display: none;
    }
}
@media screen and (max-width: 375px){
    .shovelstatus{
        width: 200px;
    }
}